.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;

  &__content {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__btn {
    cursor: pointer;
    padding: 3px;
  }
}

.edit {
  &__wrapper {
    padding: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 20px;
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
